{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h3>About this site</h3>
    <p class="container">
        This website is here to help grow the discipline of Canopy Relative Work in skydiving.
        Here you'll find services for community discussions, lists of upcoming events,
        contact information for coaches, and information on the discipline, gear, and training.
    </p>
    <h4>Events</h4>
    <p class="container">
        We work with event organizers to provide a calendar of upcoming events.
        Additionally we can provide event registration services with integrated PayPal payments and
        options for typical event items (registration tickets, boogie shirts, camping, dinner, swag packages, etc).
        If you have your own business PayPal account you can collect payments directly or have us collect the payments which we
        will forward along without taking any additional fees on top of the PayPal fees.
    </p>
</div>
{% endblock %}