{% extends 'base.html.twig' %}

{% import 'events/events.html.twig' as events %}

{% block title %}Home{% endblock %}

{% block banner %}Home{% endblock %}

{% block body %}
    <div class="text-center h5">Upcoming Events</div>
    {{ events.summary() }}
{% endblock %}
