.navbar {
    box-shadow: 0px 5px 10px #666;
}

body {
    padding-top: 3rem;
    background-image: url("/images/echelon1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.top-content {
    max-width: 1024px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 20px;
    margin: 20px auto;
}

.inner-content {
    background-color: white;
    box-shadow: 0px 0px 10px white;
    padding: 10px;
}

.banner {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text {
    font-size: 2.5em;
    font-weight: 600;
    text-shadow: 0px 0px 6px black;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.1em;
    height: 100%;
}

.forum-category {
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.3);
}

.forum-header {
    border-radius: 0.25rem;
    background-color: #4488C0;
    color: white
}

.forum-link {
    color: white;
    text-decoration: underline;
}

.forum-link:hover {
    color: white;
}

.forum-category p:last-child {
    margin-bottom: 0;
}